# running 'pnpm run foo' is equivalent to running 'pnpm run prefoo && pnpm run foo && pnpm run postfoo'
enable-pre-post-scripts=true
# enables scripts to be cross-platform (i.e., POSIX vs non-POSIX envs) in CI environment
shell-emulator=true
save-exact=true
@hexagen:registry=http://registry.npmjs.org/
auto-install-peers=true
engine-strict=true
